<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Shipment</th>
            <th>Location</th>
            <th>From Location</th>
            <th>To Location</th>
            <th>Item</th>
            <th>Item Expiration</th>
            <th>Item Lot Num</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>User</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
      {{#each transactions}}
      <tr>
        <td class="datenowrap">{{$showDate this.[0]}}</td>
        <td>{{this.[1]}}</td>
        <td>{{this.[2]}}</td>
        <td class="nowrap">{{this.[3]}} ({{this.[4]}})</td>
        <td class="nowrap">{{this.[5]}} ({{this.[6]}})</td>
        <td>{{this.[7]}} -- {{this.[8]}}</td>
        <td>{{$expiration this.[9]}}</td>
        <td>{{this.[10]}}</td>
        <td>{{this.[11]}}</td>
        <td>{{this.[12]}}</td>
        <td>{{this.[13]}}</td>
        <td>{{this.[15]}}</td>
      </tr>
      {{/each}}
    </tbody>
</table>