<div id="shipment">
  <h4>{{$dateFormat this.shipment.date}} | {{this.shipment.from_location_name}} to {{this.shipment.to_location_name}}</h4>
  transactions: <strong>{{this.shipment.total_transactions}}</strong> | total value: <strong>{{$currency this.shipment.total_value}}</strong> | <a target="_blank" href="{{this.djangoUrl}}/#/shipment/{{this.shipment.django_shipment_id}}">original</a>
  <hr>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Category</th>
        <th>Lot Number</th>
        <th>Expiration</th>
        <th>Quantity</th>
        <th>Total Value</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.shipment.transactions}}
        <tr>
          <td><a href="{{$baseUrl}}{{$itemUrl this.item_name this.item_category_name}}">{{this.item_name}}</a></td>
          <td>{{this.item_category_name}}</td>
          <td>{{this.item_lot_num}}</td>
          <td>{{$expiration this.item_lot_expiration}}</td>
          <td>{{$num this.qty}}</td>
          <td>{{$currency this.total_value}}</td>
          <td>{{this.username}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
