<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Shipment</th>
      <th>Expiration</th>
      <th>Item Lot</th>
      <th>From</th>
      <th>To</th>
      <th>User</th>
      <th>Quantity</th>
      <th>Result Qty</th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
      <tr>
        <td>{{$dateFormat this.key.[3]}}</td>
        <td><a href="{{$baseUrl}}shipment/{{this.key.[4]}}">view shipment</a></td>
        <td>{{this.key.[7]}}</td>
        <td>{{this.key.[8]}}</td>
        <td>{{this.key.[9]}}</td>
        <td>{{this.key.[10]}}</td>
        <td>{{this.key.[11]}}</td>
        <td>{{$num this.value}}</td>
        <td>{{$num this.resultQty}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
