{{#each shipments}}
<div class="row same-shipment">
  <div class="row">
    <h4 class="col-lg-4">{{$showDate this.[0].shipment_date}}</h4>
    <h4 class="col-lg-8 text-right">{{this.[0].from_location_name}} to {{this.[0].to_location_name}}</h4>
  </div>

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Item</th>
        <th>Expiration</th>
        <th>Lot Num</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        <tr>
          <td>{{this.item_name}} -- <small>{{this.item_category_name}}</small></td>
          <td>{{$expiration this.item_lot_expiration}}</td>
          <td>{{this.item_lot_lot_num}}</td>
          <td>{{this.qty}}</td>
          <td>{{this.item_lot_unit_price}}</td>
          <td>{{this.total_value}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table> 

</div>
{{/each}}
