{{#each shipments}}
<div class="row same-shipment">
  <div class="row">
    <h4 class="col-lg-4"> {{$showDate this.transactions.[0].shipment_date}}</h4>
    <div class="col-lg-8 text-right">
      <h4>{{this.transactions.[0].from_location_name}} to {{this.transactions.[0].to_location_name}}</h4>
      <small>{{this.transaction_count}} transactions | total value {{$currency this.total_value}}</small>
    </div>
  </div>

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Item</th>
        <th>Expiration</th>
        <th>Lot Num</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.transactions}}
        <tr>
          <td>{{this.item_name}} -- <small>{{this.item_category_name}}</small></td>
          <td>{{$expiration this.item_lot_expiration}}</td>
          <td>{{this.item_lot_lot_num}}</td>
          <td>{{this.qty}}</td>
          <td>{{$currency this.item_lot_unit_price}}</td>
          <td>{{$currency this.total_value}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table> 

</div>
{{/each}}
